<p>change-password works!</p><br/>

<form [formGroup]="form">
    <div class="form-group">
        <label for="">Old Password</label>
        <input 
            type="password" 
            class="form-control"
            id="oldPassWord"
            formControlName= "oldPassWord" >
            <div *ngIf= "oldPassWord?.pending">Checking for valid oldpassword...</div>

            <div *ngIf="oldPassWord?.touched && oldPassWord?.invalid" class="alert alert-danger" >
                <div *ngIf="oldPassWord?.errors?.required">Old password is required.</div>
                <div *ngIf="oldPassWord?.errors?.invalidOldPassword">Old password is wrong.</div>
            </div>
    </div>
    <div class="form-group">
        <label for="">New Password</label>
        <input 
            type="password" 
            class="form-control"
            formControlName= "newPassWord">
            <div class="alert alert-danger" *ngIf="newPassWord?.touched && newPassWord?.invalid">
                <div *ngIf="newPassWord?.errors?.required">New password is required.</div>
            </div>
    </div>
    <div class="form-group">
        <label for="">Confirm Password</label>
        <input 
            type="password" 
            class="form-control"
            formControlName= "confirmPassWord">
        <div class="alert alert-danger" *ngIf="confirmPassWord?.touched && confirmPassWord?.invalid">
            <div *ngIf="confirmPassWord?.errors?.required">Confirm password is required.</div>
        </div>
    </div>

    <button class="btn btn-primary">
        Change Password
    </button>
</form>


