<h1>Angular</h1>
<courses [is-liked]="post.isLiked" (change)="onFavoriteChanged($event)"></courses>
<bootstrap-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>
            Body
        </h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<like 
    [likesCount]="tweet.likesCount"  
    [isActive]="tweet.isLiked"
    ><!--property binding-->
    
</like>


<!-- ngIf -->
<!-- <div *ngIf="lessons.length>0 ; else noCourses"> -->
<div *ngIf="lessons.length>0 ; then lessonsList else noLessons"></div>

<ng-template #lessonsList>
    List of lessons
</ng-template>
<ng-template #noLessons>
    No Lessons yet
</ng-template>

<div [hidden]="lessons.length==0">
    Hidden Property
</div>
<div [hidden]="lessons.length>0">
    Hidden Property 1
</div>


<!-- ngSwitch -->
<ul class="nav nav-pills">
    <li [class.active]="viewMode=='map'"><a (click)="viewMode='map'">Map View</a></li> <!--set the map as active when viewModeis set as 'map'; when this is clicked, viewMode will be set as 'map'-->
    <li [class.active]="viewMode=='list'"><a (click)="viewMode='list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>


<!-- ngFor -->
<button (click)="onLoad()">Load Corse</button>
<button (click)="onAdd()">Add</button>
<ul>
    <li *ngFor="let song of songs; even as isEven; trackBy: trackSong">
        {{song.name}}<span *ngIf="isEven">(Even)</span>
        <button (click)="onRemove(song)">Remove</button>
    </li>
</ul>


<!-- ngStyle -->
<button
    [ngStyle]="{
        'backgroundColor':canSave ? 'blue': 'gray',
        'color':canSave? 'white':'black',
        'fontWeight':canSave ? 'bold':'normal'
    }"
>
    Save
</button>


<!-- Safe Traveral Operator -->
<span *ngIf="task.assignee">{{task.assignee.name}}</span>
<span>{{task.assignee?.name}}</span> <!--If the task.assignee is a null or underfined, angular is going to ignore this; otherwise it's going to render the name property of the assignee on the screen-->

<input type="text" [appInputFormat]="'uppercase'"> 


<br/>

<!--Zippy Component-->
<zippy title= "Shipping Details">
    Shipping Details Content
</zippy>
<zippy title= "Billing Details">
    Billing Detail content
</zippy>


<contact-form></contact-form>

<new-course-form></new-course-form>

<signup-form></signup-form>

<new-course-formarray></new-course-formarray>

<formbuildersample></formbuildersample>

<change-password></change-password>