<h1>Angular</h1>
<courses [is-liked]="post.isLiked" (change)="onFavoriteChanged($event)"></courses>
<bootstrap-panel >
    <ng-container class="heading">Heading</ng-container>
    <div class="body">
        <h2>
            Body
        </h2>
        <p>Some content here...</p>
    </div>
</bootstrap-panel>

<like 
    [likesCount]="tweet.likesCount"  
    [isActive]="tweet.isLiked"
    ><!--property binding-->
    
</like>

<!-- <div *ngIf="lessons.length>0 ; else noCourses"> -->
<div *ngIf="lessons.length>0 ; then lessonsList else noLessons"></div>

<ng-template #lessonsList>
    List of lessons
</ng-template>
<ng-template #noLessons>
    No Lessons yet
</ng-template>

<div [hidden]="lessons.length==0">
    Hidden Property
</div>
<div [hidden]="lessons.length>0">
    Hidden Property 1
</div>