<p>nav-bar works!</p>


<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav bar">
          <li routerLinkActive="active current">
              <a routerLink="/followers" [queryParams]="{page:1, order:'newest'}">Followers</a>
            </li>
          <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
          <!-- the attribute <a href="/post"> makes the page flicker; because this attribute makes it to redownload the entire application -->
        </ul>
      </div>
    </div>
  </nav>